<main>
    <section class="products">
        <div class="products-grid">
            {{#each producto}}
            <div class="product-card">
                <h4 class="product--id">Código: {{this.code}}</h4>
                <h1 class="product--title">{{this.title}}</h1>
                <p class="product--price">Precio: ${{this.price}}</p>
                <h2 class="product--stock">Stock disponible: {{this.stock}}</h2>
                <h2 class="product--stock">Categoría: {{this.category}}</h2>
                <br>
                <a href="/products/{{_id}}" class="btn-link"><button class="btn-prima">VER DETALLE</button></a>
                <br>
                <a href="" class="btn-link"><button class="btn-secon">AGREGAR AL CARRITO</button></a>
            </div>
            {{/each}}
        </div>
    </section>
</main>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>